---
import Header from '../Header.astro';
import Schedule from './Schedule';
---

<section
  class="my-8 lg:my-24 flex items-center justify-center flex-col gap-y-12 text-white font-misterPixel uppercase"
>
  <Header>Hor&aacute;rio</Header>
  <Schedule client:only />
</section>
