---
import Counter from './Counter';

const targetDate = new Date('2024-05-24T18:00:00+01:00');
---

<div class="flex flex-col items-center justify-center relative select-none">
  <div class="flex items-center justify-center w-full mt-6">
    <img
      class="h-10 w-10 mr-4 md:h-24 md:w-24 lg:h-32 lg:w-32"
      src="/giphy1.gif"
      alt="Super mario mushroom"
    />
    <div class="flex flex-row items-center justify-end font-retro my-16 text-white truncate">
      <h1
        class="text-4xl md:text-6xl lg:text-9xl tracking-tighter uppercase mr-2 md:mr-4 font-retro-numbers text-[#ffe24c] drop-shadow-whiteStrokeShadow"
      >
        Coming soon
      </h1>
    </div>
    <img
      class="h-10 w-10 md:h-24 md:w-24 lg:h-32 lg:w-32"
      src="/giphy1.gif"
      alt="Super mario mushroom"
    />
  </div>
  <div class="w-full">
    <Counter client:only targetDate={targetDate} />
  </div>
</div>
