---
import Info from './Info';
---

<section
  class="flex flex-col justify-center lg:flex-row lg:space-x-10 mx-auto gap-y-12 pb-12 text-white font-misterPixel"
>
  <div class="lg:w-1/2 mx-12">
    <Info client:only />
  </div>
</section>
