---
import Header from '../Header.astro';
import Info from './Info';
---

<section
  class="flex flex-col lg:flex-row justify-center lg:space-x-10 mx-auto gap-y-12 text-white font-misterPixel"
>
  <Info client:only />
</section>
