---
import Container from '../layouts/Container.astro';
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero';

import Footer from '../components/Footer.astro';
import Loading from '../components/Timer/Loading';
import ComingSoon from '../components/Countdown/ComingSoon.astro';
---

<section class="bg-bg-image bg-cover bg-center bg-fixed">
  <Layout title=" Gamejam 2024">
    <Hero client:only />
  </Layout>
  <Container>
    <ComingSoon />
  </Container>
  <Footer />
</section>
