---
import Container from '../layouts/Container.astro';
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero';

import ComingSoon from '../components/Countdown/ComingSoon.astro';
import Footer from '../components/Footer.astro';
import InfoContainer from '../components/Info/InfoContainer.astro';
import Join from '../components/Join/Join.astro';
import Awards from '../components/Awards/AwardsContainer.astro';
---

<section class="bg-bg-image bg-cover bg-center bg-fixed">
  <Layout title=" Gamejam 2024">
    <Hero client:only="react" />
  </Layout>
  <InfoContainer />
  <Container>
    <ComingSoon />
    <Join />
    <Awards />
  </Container>
  <Footer />
</section>
