---
import Container from '../layouts/Container.astro';
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero';

import Footer from '../components/Footer.astro';
import ComingSoon from '../components/Countdown/ComingSoon.astro';
import Join from '../components/Join/Join.astro';
import InfoContainer from '../components/Info/InfoContainer.astro';
---

<section class="bg-bg-image bg-cover bg-center bg-fixed">
  <Layout title=" Gamejam 2024">
    <!-- <Hero client:only /> -->
  </Layout>
  <InfoContainer />
  <!-- <Container>
    <ComingSoon />
    <Join />
  </Container> -->
  <Footer />
</section>
