---
import Awards from './Awards.astro';
import Header from '../Header.astro';
---

<section
  class="flex items-center justify-center flex-col my-4 text-white font-misterPixel uppercase"
>
  <Header>Prémios</Header>
  <Awards />
</section>
