---
import LuckyBox from './LuckyBox';
---

<section
  class="flex flex-row items-center justify-center pt-16 text-white font-misterPixel uppercase gap-6 md:gap-12 relative select-none my-12"
  id="registration-button"
>
  <LuckyBox client:only />
  <a
    class="font-black text-lg md:text-4xl lg:text-6xl text-white drop-shadow-buttonShadow text-center border-2 px-8 md:px-10 rounded-full border-primary py-6 uppercase blur-sm"
  >
    Join the Gamejam
  </a>
  <LuckyBox client:only />
  <h1
    class="text-7xl md:text-9xl lg:text-[12rem] -rotate-12 absolute top-16 md:top-8 lg:top-4 left-1/2 -translate-x-1/2 text-red-500 drop-shadow-whiteStrokeShadow rounded-lg"
  >
    Soon
  </h1>
</section>
