---
import LuckyBox from './LuckyBox';
---

<section
  class="flex flex-row items-center justify-center pt-16 text-white font-misterPixel uppercase gap-6 md:gap-12 relative select-none my-8 lg:my-24"
  id="registration-button"
>
  <LuckyBox client:only="react" />
  <a
    class="font-black text-lg md:text-4xl lg:text-6xl text-white drop-shadow-buttonShadow text-center border-2 px-2 sm:px-4 md:px-10 rounded-full border-primary py-4 sm:py-6 uppercase"
    href="https://forms.gle/BbL6t7WZucKg3oEm8"
    target="_blank"
    rel="noopener noreferrer"
  >
    Join the Gamejam
  </a>
  <LuckyBox client:only="react" />
</section>
